{% extends "layout.html" %}
{% block body %}

{{quote}}


        {% for row in ans %}

        <div class="jumbotron" style="background-image:url('{{row['pic_link']}}')">
 <div class="container">
    <h1 class="display-3" style=" color:#FFFFFF; ">{{row['category']}}</h1>
    <p style="font-size: 1.5em ;color:#FFFFFF; "> {{row['category_description']}}</p>



                 <form  action="{{ url_for('root') }}"  method="post" >

                    <input class="btn btn-primary btn-lg"   style="display:inline;" type="hidden" name="category_name" value="{{row['category']}}" type="text"> <input style="font-size: 2.5em" class="btn btn-primary btn-lg"   type="submit" value="Learn More" />
                    </form>



  </div>
</div>



        {% endfor %}


{% endblock %}