{% extends "layout.html" %}
{% block body %}

{{quote}}


</div>
<div class="jumbotron" style="background-image:url('/static/pic/klemen-vrankar-525068-unsplash_copy.jpg')">
 <div class="container">
    <h1 class="display-3"   style=" color:#FFFFFF; ">Space</h1>
    <p style=" color:#FFFFFF; "> Probe , Space-ships , Eclipse ,and More</p>
  </div>


</div>

<div class="jumbotron" style="background-image:url('/static/pic/milkovi-747560-unsplash_copy.jpg')">
 <div class="container">
    <h1 class="display-3" style=" color:#FFFFFF; ">Infrastructure</h1>
    <p style=" color:#FFFFFF; "> Bridges , Trains , Ports , Building  and More</p>
  </div>
</div>

{% endblock %}